.card{
    width: 400px;
    height: 400px;
    background-color: aqua;
    color: red;
    font-size: 15px;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    text-align: center;
}